<h3 class="txt-tl">The Lab Rat Chronicles:<br>Of Pharmacokinetics and Programming</h3>
<p class="txt-para">No one dreams of being a lab rat.</p>

<p class="txt-para">They do it because they’re in an untenable situation.</p>

<p class="txt-para">Rest assured, in May of 2013 things were <em>untenable</em>. I was $14,000 in credit card debt and owed $2000 more to the IRS. My car transmission failed, the repair of which wiped out my meager savings, and a few weeks after that I was laid off. Despite my dogged efforts, a vibrant local community I had invested so much of my time and energy into informally disbanded with little protest – and a surprising number of my friendships from that scene seemed to be just as fair-weather as well. Worst of all, I had endured three consecutive heartbreaks in the past year, each one leaving me a bit more worse for wear.</p>

<p class="txt-para">Unsurprisingly, I wasn’t in the best frame of mind when I checked into a 23-day Phase I clinical trial as a research volunteer just before I turned 31.</p>

<p class="txt-para">No one dreams of being a lab rat.</p>

<p class="txt-para">They do it because sometimes it’s what’s available.</p>

<p class="txt-para">It’s not a difficult gig. A drug sponsor recruits healthy volunteers to take a small dose of an experimental medication. (This is mostly to gauge how it metabolizes in a healthy body; it’s likely that they already have chronically ill patients elsewhere taking huge doses of the same medication to lessen their pain.) You screen ahead of time in order to learn about the drug, the procedures that will take place and possible side effects. If you’re accepted, you’re essentially agreeing to live in a dorm with labs attached. It’s rare to get a room to yourself; if you’re lucky, you get one roommate, but some places will put 60 in a cramped space with 30 bunk beds. And because it’s important to maintain a controlled environment, that means no leaving the premises for the length of the study. No alcohol, no caffeine, no outside food, no conjugal visits. It’s just you and the other hustlers, weirdos and hard luck citizens recruited for the study.</p>

<p class="txt-para">My shortest stint was three days. The longest, 56.</p>

<p class="txt-para">No one dreams of being a lab rat.</p>

<p class="txt-para">They do it because sometimes it’s what’s necessary to get ahead.</p>

<p class="txt-para">I did four studies that summer. Then after spending the rest of 2013 failing to find my bearings, I came to the conclusion that I needed to stop settling for just getting by. I was a grown man in his thirties who skated through his twenties and was now paying for that frivolity with interest. I didn’t need another dead end job; I needed a skill that could get me on the fast-track to a career. And if I was going to get a skill, I needed a plan.</p>

<p class="txt-para">It was November 2013 when a friend sent me an article on coding boot camps. The tuition was expensive, but I was long past due to invest in myself. First, though, I needed to be financially solvent. I needed to make sure my bills and tuition would be covered with a little left over for groceries. And I definitely still needed more time away from Chicago to heal, maybe even use that time to find somewhere else to relocate, to belong.</p>

<p class="txt-para">I decided to become a full-time medical research volunteer in January 2014. But this time instead of doing clinical trials out of sheer financial desperation, I went in with a plan – The Plan:</p>

<p class="txt-para">1.) Get out of debt.<br>
2.) Save up a nest egg ($25,000).<br>
3.) Get a skill.<br>
4.) Find a career.</p>

<p class="txt-para">It wasn’t supposed to be a five-year plan, but that’s just how it shook out. Meanwhile, I crisscrossed the country countless times in search of studies, so much so that it wasn’t long before I measured time in mileage. I didn’t mind that. Ever since I had a license, the road always felt most like home. I navigated my way through downpours and blizzards, spin outs and wrecks, professional rejection and personal heartbreak. Frequent 21+ hour drives. 250+ days per year in confinement doing not-so-hard time. Thousands of blood draws.</p>

<p class="txt-para">No one dreams of being a lab rat.</p>

<p class="txt-para">That’s why you need a plan when you become one.</p>

<p class="txt-para">What no one tells you when you work on the road is that you’re continually in a liminal state of being. Too many people you care about forget you exist simply because you’re not physically present. They often put off making time for you when you are home, and by the time they remember to do so you’re already off to the next gig. Worse are the judgments and assumptions. Friends working three jobs yet still struggling to make rent every month will dismiss your efforts simply because what you do for money is too unconventional, even when you explain that <em>because</em> of your work all your bills are paid up months in advance and you're free of credit card debt for the first time in years. Lovers who admire your ambition are repelled by your absence.</p>

<p class="txt-para">And even though you repeatedly tell everyone about The Plan, the question you’ll get most often is, “When are you going to stop doing medical studies?” As if you just gave up on yourself and decided this was your destiny.</p>

<p class="txt-para">But c'mon now. No one dreams of being a lab rat.</p>

<p class="txt-para">They do it because it’s a means to an end.</p>

<p class="txt-para">Just like being a data entry clerk, a file manager or an administrative assistant – all positions I held in my twenties; positions that offered limited pay with corporations that rarely gave contract employees a chance to sign on full-time and rise through the ranks. Those weren’t my dream either. They were a means to pay the bills. (Sadly, when those were taken care of, I unconciously considered any balance remaining to be just as expendable as my youth.) And despite everyone’s misgivings, being a lab rat is the exact same deal. Sure, it involves more blood draws and ECGs, but after that there was just as much tedium and fluorescent lighting as anywhere else in corporate America. (It pays about the same, too.)</p>

<p class="txt-para">That’s why it was important to see The Plan through – so I might strive for something better than sub-basement archives and medical research facilities. I could do something I actually enjoyed that not only offered financial security but also more opportunities to keep growing – personally and professionally. Work that could allow me to keep on the move.</p>

<p class="txt-para">Because no one dreams of being a lab rat.</p>

<p class="txt-para">We all deserve to aspire to something more fulfilling than a paycheck.</p>

<p class="txt-para">In October 2018 I attended the Le Wagon coding boot camp in Rio de Janeiro, Brazil. Thanks to what I learned in this intensive nine-week program, I acquired the skill set that had sent me on this bizarre and contentious journey. Better yet, I finally feel like I’ve achieved the affirmation I’d long been seeking that I did good by myself. Now I know Ruby, JavaScript, SQL, React and Ruby on Rails and getting more familiar every day. I know I have a long way to go – there’s a wide chasm between gaining knowledge and applying it (let alone getting paid for it) – but these days I feel like I have so much more to look forward to.</p>

<p class="txt-para">Better yet, I’m even more invested in myself now than when I first started. I’m excited to find new opportunities to work smarter, travel farther, live brighter.</p>

<p class="txt-para">'Cause like I said, no one dreams of being a lab rat.</p>

<p class="txt-para">It’s just what got me through the hardest of times – and then on to something better.</p>

<p class="txt-para">It got me <em>here</em>.</p>

<p class="txt-para">JVH<br>
16 February 2019</p>

<div id="about-icon-container">
  <a href="/#about">
    <i class="fas fa-map-marked-alt"></i> Back to Main
  </a>
</div>
